.image-cropper {
    margin: -2rem 3rem 1rem 3rem;
    width: 250px;
    height: 250px;
    position: relative;
    /*overflow: hidden;*/
    border-radius: 50%;
    border: 8px outset #999;
    -webkit-box-shadow: 5px 5px 15px rgba(14, 0, 0, 0.6);
    -moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.76);
}

.profileImg {
    display: inline;
    margin-left: -7rem;
    height: 120%;
    width: auto;
}

.shine {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(
                to top right,
                rgba(255, 255, 255, 0.4) 0%,
                transparent 30%,
                rgba(255, 255, 255, 0.2) 70%
        );
        transform: translateX(-100%);
        transition: transform 0.4s ease;
    }

    &:hover::before {
        transform: translateX(200%);
    }
}

.greeting .MuiIconButton-root {
    background-color: rgba(23, 23, 23, 0.6) !important;
    margin-inline: 1% !important;
    border: 1px outset #999 !important;
}

.greeting hr {
    margin-left: 2rem;
}

.websiteLink :hover {
    cursor: pointer;
}